<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Dashboard', admins_dashboards_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to 'Podcast', admins_podcasts_path %>
    </li>
    <li class="breadcrumb-item">
      Podcast bewerken
    </li>
  </ol>
</nav>
<h3>Podcast bewerken</h3>
<%= render "form" %>