<table id="datatable" class="display">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Content</th>
      <th>Attachment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <!-- The data will be populated by DataTable -->
  </tbody>
</table>